.elegant-aero {
    font: 12px Arial, Helvetica, sans-serif;
    color: #888;
}
.elegant-aero table {
    table-layout:fixed;
    border-collapse: collapse;
    margin: 0 auto 1em;
    min-width:735px;
}
.elegant-aero table tr, table td {
    white-space:nowrap;
    padding:2px 20px 2px 5px;
    height: 53px;
    vertical-align: text-bottom;
}

.elegant-aero table th {
    padding:2px 0 2px 5px;
    text-align:right;
}
.elegant-aero table td {
    min-width: 245px;
}

.elegant-aero table input {
     width: 100%;
     max-width: 300px;
 }

.elegant-aero select, input[type=text], input[type=email], input[type=password] {
    color: #888;
    padding: 0 0 0 5px;
    border: 1px solid #D2D2D2;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow:inset 0 1px 6px #ECF3F5;
    box-shadow: inset 0 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    height: 20px;
    line-height:15px;
    margin: 2px 6px 10px 0px;
    min-width: 260px;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 24px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
