<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/assets/js/angular.1.6.4.min.js"></script>
    <script src="/assets/js/angular-messages.1.6.4.min.js"></script>
    <script src="/assets/js/registration.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/registration.css">
    <title>Registration</title>
</head>
<body ng-app="app" ng-controller="registrationController">
    <form name="registrationForm" ng-submit="submitForm()" class="elegant-aero">
        <table>
            <tr ng-show="errorMessage">
                <td></td>
                <td><strong>{{ errorMessage }}</strong></td>
            </tr>
            <tr>
                <td>
                    <label>Email</label>
                </td>
                <td>
                    <input type="email"
                           name="email"
                           ng-model="email"
                           email-not-used ng-model-options="{ debounce: 500 }"
                           required />
                    <div ng-messages="registrationForm.email.$error">
                        <div ng-message="required">Campo obrigatório</div>
                        <div ng-message="email">Formato de e-mail inválido</div>
                        <div ng-message="emailNotUsed">Email já cadastrado</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Confirmar Email</label>
                </td>
                <td>
                    <input type="email"
                           name="emailConfirmation"
                           ng-model="emailConfirmation"
                           same-as="email"
                           required />
                    <div ng-messages="registrationForm.emailConfirmation.$error">
                        <div ng-message="required">Campo obrigatório</div>
                        <div ng-message="same-as">Email não condiz com a confirmação</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password</label>
                </td>
                <td>
                    <input type="password" name="password" ng-model="password" required />
                    <div ng-messages="registrationForm.password.$error">
                        <div ng-message="required">Campo obrigatório</div>
                    </div>
                </td>
                <td>
                    <label>A sua password é segura?</label>
                    <div>
                        Pouco segura
                        <meter min="0" max="5" value="{{ passwordStrength() }}"></meter>
                        Muito segura
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Confirmar Password</label>
                </td>
                <td>
                    <input type="password"
                           name="passwordConfirmation"
                           ng-model="passwordConfirmation"
                           same-as="password"
                           required />
                    <div ng-messages="registrationForm.passwordConfirmation.$error">
                        <div ng-message="required">Campo obrigatório</div>
                        <div ng-message="same-as">Password não condiz com a confirmação</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Nome</label>
                </td>
                <td>
                    <input type="text" name="name" ng-model="name" required />
                    <div ng-messages="registrationForm.name.$error">
                        <div ng-message="required">Campo obrigatório</div>
                    </div>
                </td>
                <td>
                    <input type="text" name="nickname" ng-model="nickname" placeholder="Apelido" required/>
                    <div ng-messages="registrationForm.nickname.$error">
                        <div ng-message="required">Campo obrigatório</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Rua / Nº</label>
                </td>
                <td>
                    <input type="text" name="address" ng-model="address" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Codigo Postal / Localidade</label>
                </td>
                <td>
                    <input type="text"
                           name="postcode"
                           ng-model="postcode"
                           placeholder="Ex. 9999-999"
                           ng-pattern="/^[0-9]{4}?[-]?[0-9]{3}$/"
                    />
                    <div ng-messages="registrationForm.postcode.$error">
                        <div ng-message="pattern">Formato inválido</div>
                    </div>
                </td>
                <td>
                    <input type="text" name="region" ng-model="region" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>País</label>
                </td>
                <td ng-init='countries = <<%PLACEHOLDER_COUNTRIES_JSON%>>; country = countries[0].isoCode;'>
                    <select name="country" ng-model="country" ui-select2="{ allowClear: true}">
                        <option ng-show="false"></option>
                        <option ng-repeat="c in countries" value="{{c.isoCode}}">{{c.nativeName}}</option>
                    </select>
                </td>
            </tr>
            <tr ng-show="registrationForm.country.$modelValue == countries[0].isoCode">
                <td>
                    <label>NIF</label>
                </td>
                <td>
                    <input type="text"
                           name="nif"
                           ng-model="nif"
                           size="9"
                           ng-pattern="/^[0-9]{9}$/"
                           ng-required="registrationForm.country.$modelValue == countries[0].isoCode"
                    />
                    <div ng-messages="registrationForm.nif.$error">
                        <div ng-message="required">Campo obrigatório</div>
                        <div ng-message="pattern">Formato inválido</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Telefone</label>
                </td>
                <td>
                    <input type="text" name="phone" ng-model="phone" placeholder="Insira o número aqui"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit"
                            ng-disabled="registrationForm.$invalid || registrationData.$pending"
                            ng-click="myFunc"
                            class="button">Registro</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>